
body{
font-family: 'Poppins', sans-serif;
}

/*all sidebar effetcs on click and hover start*/
.main_area.hide_dividers .sidebar {
    max-width: 65px;
}
.main_area.hide_dividers .sidebar span {
    display: none;
}
.main_area.hide_dividers .right_section {
    padding-left: 65px;
}
.main_area.hide_dividers .sidebar li.has_dropdown::after {
    display: none;
}
.main_area.hide_dividers .sidebar:hover {
    max-width: 260px;
}
.main_area.hide_dividers .sidebar:hover span{
    display: block;
}
.main_area.hide_dividers .sidebar:hover li.has_dropdown::after {
    display: block;
}
.main_area.hide_dividers .sidebar .navigation .sub_menu  {
    visibility: hidden;
    height: 0;
    padding: 0;
}
.main_area.hide_dividers .sidebar:hover .navigation .sub_menu{
    visibility: visible;
    height: initial;
    padding: 15px;
}
.sidebar .navigation > ul > li.active_nav .sub_menu{
    display: block;
}
/*all sidebar effetcs on click and hover end*/



/*Sale Page Css start*/
.top_bar_area {
    margin-top: 10px;
}
.top_bar_area .inside {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.from_to_filter form,
.from_to_filter {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
}
.from_to_filter{
    margin-bottom: 30px;
}
.from_to_filter .form-group {
    margin: 0 10px 0 0 ;
    max-width: 190px;
    width: 100%;
}
.from_to_filter .form-group .form-control {
    border-radius: 100px;
    height: 46px;
    padding: 0px 12px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 9px;
}
.from_to_filter .form-group label {
    font-size: 17px;
    font-weight: 600;
}
.from_to_filter .btn {
    height: 46px;
    border-radius: 100px;
    padding: 10px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/*Sale page css end*/



/*voucher page css start*/
.top_btns {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
}
.top_btns .btn {
    margin: 10px 0 0 10px;
    height: 46px;
    border-radius: 100px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.top_btns .btn i {
    margin-left: 8px;
}
/*voucher page css end*/



.modal-content .form-group label {
    margin-bottom: 10px;
}
.modal-content .form-group .form-control {
    padding: 0 8px;
    height: 45px;
}
.modal-content .modal-header {
    background: #111620;
}
.modal-content .modal-header .modal-title {
    color: #fff;
    font-size: 18px;
}
.modal-content .modal-header .close {
    color: #fff;
    box-shadow: none;
    opacity: 1;
    font-weight: 100;
}
label.badge {
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
}
.modal-content .form-group textarea.form-control {
    height: initial;
    padding: 10px;
}
.total {
    font-size: 34px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0 30px;
}
.empl_img {
    max-width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.slip_left {
    background: #ececec;
    padding: 15px;
}
.slip_left p {
    font-size: 18px;
    margin-top: 12px;
}
.slip_left .logo2 {
    max-width: 240px;
}
.slip_right{
    background: #ececec;
    padding: 15px;
    text-align: right;
}
.slip_right h2 {
    font-size: 32px;
    margin-top: 19px;
    font-weight: 600;
}
.slip_right p {
    font-size: 19px;
    margin-top: 10px;
}
.emp_detail {
    font-size: 20px;
    margin: 19px 0;
    font-weight: 600;
    border: 1px solid #ccc;
    padding: 15px;
}
.emp_detail + .emp_detail{
    border-left: none;
}
.earning_box h3 {
    background: #232e42;
    padding: 15px;
    color: #fff;
    font-size: 20px;
}
.earning_box {
    margin: 25px 0;
}
.net_payment {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border-top: 1px solid #ccc;
    padding: 15px 0 0;
}
.all_export ul {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    margin: 10px 0 20px 0;
}
.all_export ul li {
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    cursor: pointer;
    -webkit-justify-content: center;
    padding: 6px;
}
.earning_titles_popups{
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0;
}
.total_sale_earning {
    font-size: 30px;
    font-weight: 600;
}

/* Customer Detail Start */
.customer_data_detail .image img {
    max-width: 180px;
    margin: 0 auto;
    display: block;
    border-radius: 100px;
    margin-bottom: 15px;
}
.customer_data_detail .image h3 {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    color: #207bff;
}
.customer_data_detail .data_customer {
    padding-left: 30px;
    width: 100%;
}
.customer_data_detail .row {
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
.customer_data_detail ul {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}
.customer_data_detail ul li {
    width: 33.33%;
    margin-bottom: 22px;
}
.customer_data_detail ul li h2 {
    font-size: 18px;
}
.customer_data_detail ul li p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
}
/* Customer Detail End */

/* communication log start */
.communications ul li {
    display: flex;
    display: -webkit-flex;
    background:#e7f1ff;
    padding: 11px;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    border-bottom:1px solid #ccc;
}
.communications ul li a{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    align-items: center;
    -webkit-align-items: center;
    color: inherit;
}
.communications ul li:last-child{
    border-bottom: none;
}
.communications ul li img {
    max-width: 70px;
    border-radius: 100px;
}
.communications ul li .data {
    padding-left: 20px;
}
.communications ul li .data h2 {
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.communications ul li p {
    line-height: 19px;
}
.communications ul li .time {
    white-space: nowrap;
    margin-left: 20px;
    font-weight: 600;
    float: right;
    right: 15px;
    top: 15px;
    position: absolute;
}
.communications ul li label {
    margin-right: 20px;
    width: 24px;
    height: 24px;
    position: relative;
}
.communications ul li label input {
   display: none;
}
.communications ul li label span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #a5a5a5;
}
.communications ul li label input:checked + span::after {
    content: "\2713";
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 100%;
    font-size: 17px;
    padding: 3px;
    text-shadow: 0px 1px 0 #000;
}
/* communication log end */


/* Dashbord start */
.property_box a{
    color: inherit;
}
.property_box .inset {
    border: 1px solid #dedede;
    background: #f5f5f5;
    margin: 0px 0 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 25px;
    position: relative;
}
.property_box .inset::after{
    content: "";
    position: absolute;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    bottom: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background-color:#cacaca;
    border-radius: 100px;
}
.property_box .image_and_bulb {
    position: relative;
}
.property_box .image_and_bulb span {
    position: absolute;
    bottom: -20px;
    left: 15px;
    max-width: 50px;
    height: 50px;
    background: #207bff;
    padding: 8px;
    border-radius: 100px;
    border: 2px solid #fff;
}
.property_box .inset .data {
    padding: 10px 15px;
    line-height: 24px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}
.property_box .inset .data2 {
    padding: 10px 15px;
    line-height: 24px;
}
/* Dashboard End */


/* advance search start */
.advance_search_data {
    background:#e4f5ff;
    padding: 15px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    overflow: hidden;
    text-align: center;
}
.advance_search_data > .row{
    width: 100%;
}
/* advance search end */


/* message select and delete css start*/
.select_all_mail {
    height: 46px;
    margin-right: 18px;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}
.select_all_mail label {
    font-size: 20px;
    position: relative;
}
.select_all_mail label input {
    display: none;
}
.select_all_mail label span{
    position: relative;
    width: 24px;
    height: 24px;
    background: #fff;
    display: inline-block;
    border: 1px solid #a5a5a5;
    margin-right: 10px;
    vertical-align: middle;
    top: -1px;
}
.select_all_mail label input:checked + span::after{
    content: "\2713";
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 100%;
    font-size: 17px;
    padding: 3px;
    text-shadow: 0px 1px 0 #000;
}
.delete_all_mail {
    margin-left: 15px;
    height: 46px;
    width: 46px;
    border-radius: 100px;
    background: #ff5858;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    text-align: center;
    line-height: 46px;
    color: #fff;
    cursor: pointer;
}
/* message select and delete css end */

.top_bar_area .view_back {
    height: 46px;
    margin-right: 15px;
    font-size: 23px;
    display: flex;
    align-items: center;
    -webkit-display: flex;
    -webkit-align-items: center;
}
.full_message_detail {
    background: #e7f1ff;
    padding: 15px;
}
.full_message_detail .sender_details {
    display: flex;
    display: -webkit-flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    -webkit-align-items: center;
}
.full_message_detail .sender_details .pic {

    width: 100%;
    max-width: 70px;
    margin-right: 20px;
}
.full_message_detail .sender_details .full_detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
}
.full_message_detail .sender_details .full_detail .email span {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    word-wrap: break-word;
}
.full_message_detail .sender_details .full_detail .email p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 7px;
    display: block;
    word-wrap: break-word;
}
.full_message_detail .sender_details .full_detail .attached span,
.full_message_detail .sender_details .full_detail .attached p {
    font-size: 17px;
    margin-bottom: 10px;
    display: block;
    text-align: right;
}
.full_message_detail .message_data {
    font-size: 17px;
    line-height: 20px;
    margin-top: 10px;
}
.full_message_detail .message_data p {
    margin-bottom: 15px;
    line-height: 28px;
}
.full_message_detail .message_data img {
    max-width: 210px;
    margin: 0 10px 10px 0;
    border: 2px solid #fff;
}
.from_to_filter .title {
    font-size: 22px;
    font-weight: 600;
    height: 33px;
    padding: 0 15px;
}
.full_message_detail .form-group{
    margin-bottom: 25px;
}
.full_message_detail .form-group label {
    font-size: 20px;
    margin-bottom: 10px;
}
.full_message_detail .form-group .form-control {
    height: 50px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.full_message_detail .form-group textarea + .cke_1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* profile Page css Start */
.table td strong {
    font-weight: 600;
}
.areas ul {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}
.areas li {
    display: inline-block;
    margin:5px 5px 0 0;
}
.areas li a {
    background: #207bff;
    color: #fff;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
}
.all_customer_data {
    display: flex;
    display: -webkit-flex;
}
.all_customer_data .profile_pic img {
    border-radius: 100px;
}
.all_customer_data .profile_pic {
    max-width: 160px;
    width: 100%;
    position: relative;
}
.all_customer_data .profile_left,
.all_customer_data .profile_right {
    padding-left: 20px;
    width: 100%;
}
.all_customer_data .profile_left h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}
.all_customer_data .profile_left .member {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 15px;
}
.all_customer_data .profile_left p,
.all_customer_data .profile_right p {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 17px;
    margin: 0 0 10px 0;
    line-height: 20px;
    display: flex;
    display: -webkit-flex;
}
.about_customer .content {
    line-height: 25px;
    font-size: 17px;
}
.about_customer .content p {
    margin-top: 15px;
}
.all_customer_data .profile_left i,
.all_customer_data .profile_right i {
    width: 25px;
}
.all_customer_data .profile_left span,
.all_customer_data .profile_right span {
    display: inline-block;
}
.all_customer_data .profile_left .member a img {
    max-width: 23px;
    margin: 0 6px 0 0;
    background: #fff;
    border-radius: 100px;
    padding: 2px;
}
.all_customer_data .profile_left .member a {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    background: #20d246;
    color: #fff;
    max-width: 140px;
    border-radius: 100px;
    padding: 6px;
}
.customer_other_details li {
    display: block;
}
.customer_other_details li:nth-child(2n) {
    background: #e8e8e8;
    border: 1px solid #d8d8d8;
}
.customer_other_details li {
    display: flex;
    display: -webkit-flex;
    padding: 16px 15px;
}
.customer_other_details li strong {
    font-weight: 600;
    width: 100%;

}
.edit_profile_fields .form-group label{
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}
.edit_profile_fields .form-group input.form-control {
    height: 50px;
}
.about_customer .edit_profile_image .inset {
    border: 2px dashed #9a9a9a;
    padding: 0;
    text-align: center;
    height: 265px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.about_customer .edit_profile_image .inset label {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-content: center;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    cursor: pointer;
}
.about_customer .edit_profile_image input[type="file"] {
    width: 220px;
}
.about_customer .edit_profile_image .inset span {
    display: block;
    width: 100%;
    max-width: 100%;
}
.about_customer .edit_profile_image .inset span img {
    max-width: 80px;
    margin: 0 auto 30px;
    display: block;
    opacity: 0.5;
}
.advance_search_data iframe {
    margin-top: -140px;
}
/* profile Page css End */

.all_properties .inside .title{
    position: relative;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.all_properties .inside .title .list_and_grid {
    position: relative;
    right: 0;
    top: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.all_properties .inside .title .list_and_grid i {
    font-size: 24px;
    margin-left: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 8px;
    color: #949494;
}
.all_properties .inside .title .list_and_grid i.active {
    background: #207bff;
    color: #fff;
    border-color: #135cc5;
}
.all_properties_list .property_box {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.all_properties_list .property_box .inset {
    display: flex;
    display: -webkit-flex;
    padding-bottom: 0px;
}
.all_properties_list .property_box .inset .image_and_bulb p {
    line-height: 0;
}
.all_properties_list .property_box .inset .image_and_bulb {
    max-width: 250px;
}
.all_properties_list .property_box .inset .parent_data {
    width: 100%;
}
.all_properties_list .property_box .inset .parent_data .data {
    margin-top: 10px;
}
.all_properties_list .property_box .inset::after {
    bottom: 15px;
    right: 15px;
}
.customer_tabs {
    margin-top: 20px;
}
.customer_tabs li {
    width: 50%;
}
.customer_tabs li a.nav-link {
    background: #ccc;
    height: 56px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #000;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    border-radius:2px;
}
.customer_tabs li a.nav-link.active {
    margin-top: -10px;
    height: 66px;
}
.tab-content{
    width: 100%;
}
/* membership page start */
.membership_details {
    display: flex;
    display: -webkit-flex;
    margin-top: 20px;
    width: 100%;
}
.membership_details .image {
    max-width: 150px;
    width: 100%;
}
.membership_details .membership_data {
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    padding-left: 15px;
    width: 100%;
}
.membership_details .membership_data .trophy {
    max-width: 170px;
    width: 100%;
}
.membership_details .membership_data .data_left {
    width: 100%;
    padding-right: 50px;
}
.membership_details .membership_data .data_left .name {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom:8px;
}
.membership_details .membership_data .data_left label {
    font-size: 18px;
    text-transform: capitalize;
    margin: 4px 0 10px;
    font-weight: 500;
    color: #3d3d3d;
}
.membership_details .membership_data .data_left .available_plan {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 16px;
}
.membership_details .membership_data .data_left .available_plan span {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    color: red;
    text-transform: capitalize;
}
.about_membership {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.about_membership .list {
    font-size: 17px;
    margin: 7px 0;
    width: 100%;
}
.about_membership .list strong{
    font-weight: 600;
    margin-right: 10px;
}
.membership_benefits .content {
    font-size: 17px;
    line-height: 26px;
}
.membership_benefits .content p{
    margin-top: 20px;
}
.membership_benefits .content ul li {
    list-style-type: disc;
    list-style-position: inside;
    padding: 2px;
}
/* membership page End */

.bottom_link {
    position: fixed;
    bottom: 0;
    width: 260px;
}
.bottom_link a {
    bottom: 0;
    background: #207bff;
    width: 100%;
    color: #fff;
    display: block;
    padding: 16px;
    font-size: 18px;
}
.bottom_link i {
    font-size: 20px;
    margin-right: 8px;
}
.main_area.hide_dividers .sidebar .bottom_link {
    display: none;
}
.main_area.hide_dividers .sidebar:hover  .bottom_link{
    display: block;
}

/* payment start */
.methods li .titles label {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    height: 50px;
}
.methods li .titles label .images {
    display: flex;
    display: -webkit-flex;
}
.methods li .titles label .images p {
    max-width: 50px;
    margin-left: 3px;
}
.methods li .titles {
    background: #f1f1f1;
    border: 1px solid #d6d6d6;
    margin-bottom: 20px;
}
.methods li .details {
    margin-bottom: 20px;
}
.methods li .details label {
    font-size: 18px;
    margin-bottom: 10px;
}
.methods li .details .form-control {
    height: 46px;
}
.methods li .details > .row > div {
    margin-bottom: 20px;
}
.methods li .titles label input[type="radio"] {
    width: 19px;
    height: 20px;
    vertical-align: sub;
    margin-right: 8px;
}
.terms {
    margin: 30px 0;
}
.terms input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 8px;
}
.place_order button {
    width: 100%;
    font-size: 20px;
    padding: 14px;
}
.total_amount li {
    padding: 15px 0;
    border-bottom: 1px solid #CCB;
}
.total_amount li strong {
    font-weight: 600;
    margin-right: 5px;
}
.subtotal {
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding: 18px 10px;
    background: #e4e4e4;
}
.subtotal strong {
    font-weight: 500;
    font-size: 17px;
}
.subtotal span {
    font-weight: 600;
    font-size: 30px;
}
.save_card label {
    width: 100%;
    display: block;
    background: -webkit-linear-gradient(#ffffff, #e0e0e0);
    background: linear-gradient(#ffffff, #e0e0e0);
    background: -ms-linear-gradient(#ffffff, #e0e0e0);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
}
.save_card .holder_name {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.save_card .account_number {
    font-size: 18px;
    margin: 9px 0 10px;
    font-weight: 500;
}
.save_card .expire{
    font-size: 18px;
    font-weight: 500;
}
.save_card .trash {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    color: #2b2b2b;
}
.save_card {
    margin-top: 15px;
}
.save_card label input{
    display: none;
}
.save_card label span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.save_card label input:checked + span{
    background-color: #28a745;
}
.save_card label input:checked + span::after {
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    left: 4px;
    top: 5px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

/* payment end */

.terms_and_condition_text {
    font-size: 16px;
    line-height: 26px;
}
.terms_and_condition_text p{
    margin-bottom: 20px;
}
.methods li .titles label .images p img {
    mix-blend-mode: darken;
}
.congratulation .congrats_data img {
    max-width: 300px;
    margin: 50px auto;
    display: block;
}
.congratulation .congrats_data h3 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.congratulation .congrats_data p {
    text-align: center;
    line-height: 26px;
    font-size: 18px;
    margin: 10px 0;
}
.congratulation .congrats_data .all_data {
    text-align: center;
    margin: 20px 0;
}





/*=====================all media query--========================*/

@media all and (min-width: 1500px){
    .single_box .inside{
        padding: 26px;
    }
}


@media all and (max-width: 1600px){
    div.dt-buttons {
        order: -1;
        -webkit-order: -1;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin: 15px 0 0 0;
    }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
        width: 50%;
    }
    .single_box .inside .title {
        font-size: 18px;
        max-width: 108px;
        line-height: 23px;
    }
    .single_box .inside{
        height: 130px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        align-content: center;
        -webkit-align-content: center;
    }
}


@media all and (max-width:1480px){
    .profile_whole_detail,
    .customer_joined_details {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .customer_other_details ul{
        display: flex;
        display: -webkit-flex;
    }
    .customer_other_details li{
        width: 100%;
        background: #e8e8e8;
        border: 1px solid #d8d8d8;
    }
    .customer_other_details li + li{
        margin-left: 10px;
    }
}


@media all and (max-width: 1300px){
    .single_box {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .top_selling {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .from_to_filter{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .top_btns{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
    }
    .top_btns .btn {
        margin: 0 10px 10px 0;
    }
}



@media all and (max-width: 1023px){
    .main_area .sidebar,
    .sidebar .logo {
        top: 80px;
    }
    .main_area .right_section .header_area {
        left: 0;
    }
    .left_area .single_box {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .main_area.hide_dividers .right_section,
    .main_area .right_section{
        padding-left: 0px;
    }
    .main_area.hide_dividers .sidebar {
        max-width: 260px;
        left: -260px;
    }
    .main_area.hide_dividers .sidebar .logo{
        left: -260px;
    }
    .main_area.hide_dividers .sidebar span,
    .main_area.hide_dividers .sidebar li.has_dropdown::after{
        display: block;
    }
    .customer_data_detail ul li{
        width:50%;
    }
    .customer_data_detail ul li h2 {
        font-size: 16px;
    }
    .customer_data_detail ul li p {
        font-size: 18px;
    }
    .customer_data_detail .row {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .customer_data_detail .image {
        text-align: center;
        margin-bottom: 35px;
        width: 100%;
    }
}


@media all and (max-width: 991px){
    .dataTables_wrapper .dataTables_length, 
    .dataTables_wrapper .dataTables_filter{
        width: 100%;
        text-align: center;
        margin: 0 0 15px 0;
    }
    .dataTables_wrapper .dataTables_filter label{
        justify-content: center;
        -webkit-justify-content: center;
    }
    div.dt-buttons{
        width: 100%;
        margin: 10px 0 15px;
        text-align: center;
        border: none;
        padding: 0;
    }
    .top_selling .inside .title {
        text-align: center;
        font-weight: 600;
    }
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        width: 100%;
        text-align: center;
    }
    .dataTables_wrapper + .view_all,
    .custoner_absol + .view_all,
    .enrolled_value,
    .custoner_absol .enroll_grade {
        text-align: center;
    }
    .custoner_absol {
        position: relative;
        right: 0;
        top: 0;
        text-align: center;
    }
}


@media all and (max-width: 749px){
    .all_properties .inside .title .list_and_grid{
        display: none;
    }
    .single_box {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .from_to_filter .form-group,
    .from_to_filter form, .from_to_filter{
        width: 100%;
            max-width: 100%;
    }
    .from_to_filter .form-group{
        margin: 0 0 15px 0;
    }
    .from_to_filter .btn {
        width: 100%;
    }
    .top_btns .btn {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .earning_box {
        margin: 10px 0;
    }
    .slip_left,
    .slip_right{
        text-align: center;
        margin-bottom: 10px;
    }
    .slip_left .logo2{
        margin: 0 auto;
    }
    .emp_detail + .emp_detail{
        border: 1px solid #ccc;
    }
    .emp_detail {
        margin: 2px 0;
    }
    .customer_data_detail ul li{
        width: 100%;
        text-align: center;
    }
    .communications ul li .time {
        position: relative;
        margin-top: 20px;
        text-align: center;
        display: block;
        width: 100%;
        right: 0;
        top: 0;
    }
    .communications ul li,
    .communications ul li a{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        text-align: center;
    }
    .communications ul li img{
        display: block;
        margin: 0 auto 20px;
    }
    .communications ul li .pic {
        width: 100%;
    }
    .communications ul li label{
        margin: 0 auto 15px;
    }
    .communications ul li label span{
        left: 0;
    }
    .delete_all_mail,
    .select_all_mail{
        order: -1;
        margin-bottom: 10px;
        -webkit-order: -1;
        margin-left: 0px;
    }
    .from_to_filter .form-group{
        margin: 0 0 8px 0;
    }
    .full_message_detail .sender_details .full_detail,
    .full_message_detail .sender_details{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .full_message_detail .sender_details .full_detail .email {
        width: 100%;
        margin-bottom: 10px;
    }
    .full_message_detail .sender_details .full_detail .attached {
        width: 100%;
    }
    .full_message_detail .sender_details .full_detail .attached span, .full_message_detail .sender_details .full_detail .attached p{
        text-align: left;
    }
    .full_message_detail .sender_details .pic {
        margin: 0 0 15px 0;
    }
    .top_bar_area .view_back {
        order: -1;
        -webkit-order: -1;
        margin-bottom: 10px;
    }
    .from_to_filter .title{
        margin-bottom: 15px;;
    }
    .customer_other_details ul{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .customer_other_details li + li{
        margin-left: 0px;
    }
    .all_customer_data{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        padding:0px;
    }
    .about_customer .content,
    .all_customer_data .profile_left h1{
        text-align: center;
    }
    .all_customer_data .profile_left, .all_customer_data .profile_right{
        padding: 0px 15px;
    }
    .all_customer_data .profile_left p, .all_customer_data .profile_right p{
        margin: 0 0 15px 0;
        text-align: center;
        justify-content: center;
        -webkit-justify-content: center;
    }
    .areas ul{
        justify-content: center;
        -webkit-justify-content: center;
    }
    .all_customer_data .profile_left .member a {
        margin: 0 auto;
    }
    .all_customer_data .profile_pic {
        margin: 10px auto;
    }
    .membership_details,
    .membership_details .membership_data{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        text-align: center;
        padding: 0px;
    }
    .membership_details .image {
        margin: 10px auto 20px;
    }
    .membership_details .membership_data .data_left {
        padding: 0;
    }
    .membership_details .membership_data .trophy {
        max-width: 50px;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .about_membership,
    .member_cta{
        text-align: center;
    }
}


@media all and (max-width: 480px){
    .notification .notify{
        right: -100px;
    }
    .left_area .single_box {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .methods li .titles label {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        height: initial;
    }
    .methods li .titles .headline {
        width: 100%;
        margin-bottom: 15px;
    }
    .terms{
        line-height: 24px;
    }
}