
@font-face {
  font-family: Net-Proxima-Nova-Light;
  src: url("../fonts/Net-Proxima-Nova-Light.otf");
}


.watchbtn {
    margin: 30px auto;
    padding: 0;
    width: 200px;
    height: 60px;
    text-align: center;
}

.watchbtn a {
    margin: 0px;
    padding: 0;
    width: 100%;
    display: block;
}

.watchbtn a i {
    margin-right: 0;
    background: #f20;
    padding:16px;
    border-radius: 50%;
    color: #fff;
    height:70px;
    width:70px;
    animation: flow linear 1s infinite;
    font-size:36px;
}
@keyframes flow{
	0%{box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);}
	50%{box-shadow: 0 0 0 20px  rgba(0, 0, 0, 7);}
	100%{box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);}
}
@-moz-keyframes flow{
	0%{box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);}
	50%{box-shadow: 0 0 0 20px  rgba(0, 0, 0, 7);}
	100%{box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);}
}
@-webkit-keyframes flow{
	0%{box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);}
	50%{box-shadow: 0 0 0 20px  rgba(0, 0, 0, 7);}
	100%{box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);}
}

.viewall4 {
    margin: 0px;
    padding: 25px 0 0;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.viewall4 a {
    display: inline-block;
    background: #000;
    margin: 0px;
    padding: 7px 0px;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    height: 40px;
    width: 100%;
    max-width: 111px;
}

.viewall3 {
    margin: 0px;
    padding: 25px 0 0;
    text-align: center;
}
.viewall3 a {
    display: inline-block;
    background: #000;
    margin: 0px;
    padding: 7px 0px;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    height: 40px;
    width: 100%;
    max-width: 111px;
}
.viewall2 {
    margin: 0px;
    padding: 25px 0 0;
    text-align: center;
}
.viewall2 a {
    display: inline-block;
    background: #1b86e3;
    margin: 0px;
    padding: 7px 0px;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    height: 40px;
    width: 100%;
    max-width: 111px;
}

.search_box2 {
    margin: 0px;
    padding: 15px;
    background:transparent;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}
.serh_advance2 {
    display: block;
    padding: 0;
    margin-bottom: 60px;
    text-align: center;
}
.aurs {
    margin: 0px;
    padding: 0px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.srch_area-prop2 {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    width: 100%;
    max-width: 800px;
}
.srch_area-prop2 input.area_filter {
    margin: 0px;
    padding: 14px;
    width: 100%;
    font-size: 20px;
    height: 74px;
    outline: none;
    border: none;
    border-radius: 5px 0px 0 5px;
}
.srch_area-prop2 button.srchs {
    padding: 14px;
    background: #fff;
    border:none;
    font-size: 30px;
    color: #000;
    height: 74px;
    border-radius: 0px 5px 5px 0px;
}





/*3 column css*/
#three_column {
    background: #f1f1f1;
    margin: 0px;
    padding: 50px 0;
}
#three_column .serv_box {
    margin: 0px;
    padding: 30px;
    text-align: center;
}
#three_column .serv_box h3 {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    padding: 15px 0px;
    margin: 0px;
}
#three_column .serv_box p {
    margin: 0px;
    font-size: 16px;
    color: #000;
    line-height: 25px;
    margin: 0px;
}
/*3 column css-end*/





/*counter start*/
.counter .heading h2 {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    line-height: 48px;
    color: #000;
}
.counter {
    text-align: center;
    padding: 0px;
}
.employees, .customer, .design, .order {
    margin-top: 40px;
    margin-bottom: 40px;
}
.counter-count {
    font-weight: 600;
    font-size: 45px;
    position: relative;
    color: #0d8ee0;
    text-align: center;
    line-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin-bottom: 0px;
}
.employee-p, .customer-p, .order-p, .design-p {
    font-size: 20px;
    color: #0d8ee0;
    line-height: 34px;
    font-weight: 500;
}
.employees, .customer, .design, .order {
    border: 1px solid #00b3e7;
    border-radius: 15px;
}
/*counter end*/






/*around-you-css*/
#latest_news1 {
    padding: 40px 25px;
    background: #f1f1f1;
}
#latest_news1 .cardbox {
    background: #fff;
    border: #D6D6D6 solid thin;
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
}
#latest_news1 .cardbox .imgrel {
    width: 100%;
    height: 160px;
    overflow: hidden;
}
#latest_news1 .cardbox .imgrel img {
    object-fit: cover;
    width: 100%;
}
#latest_news1 .cardbox .contant {
    margin: 0px;
    padding:15px;
}
#latest_news1 .cardbox .contant ul {
    margin: 0px;
    padding: 0;
}
#latest_news1 .cardbox .contant ul li {
    list-style: none;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
}
#latest_news1 .cardbox .contant p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
#latest_news1 .cardbox .contant p a {
    color: #000;
}
#latest_news1 h3 {
    font-size: 28px;
    font-weight: 500;
    color: #000;
    margin-bottom: 25px;
}

.chat_detail_link2 {
    position: absolute;
    top: 0;
}
.chat_detail_link2 p {
    background: #0d8ee0;
    color: #fff;
    padding: 7px;
    font-weight: 500;
}
.chat_detail_link2 .links {
    margin: 0px;
    padding: 0px;
}
.chat_detail_link2 .links ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: end;
    display: -webkit-flex;
    -webkit-justify-content: end;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.chat_detail_link2 .links ul li {
    list-style: none;
    margin: 0px 0px 0 0;
    padding: 5px;
    display: flex;
}
.chat_detail_link2 .links ul li a {
    margin: 0px 0px 0 0;
    padding:5px;
    color: #fff;
    background: #1b86e3;
    display: inline-block;
    border: #1b86e3 solid 1px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.chat_detail_link2 .links ul li a img.bulb, .chat_detail_link2 .links ul li a img.bulb2 {
    max-width: 22px;
    margin: 0px;
}
.chat_detail_link2 .links ul li a img.bulb2 {
    display: none;
}
#latest_news1 .cardbox .contant p span {
    color: #1b86e3;
}
/*around-css-end*/




/*newest-start*/
#newestlist {
    padding: 40px 25px;
    background: #fff;
}
#newestlist .cardbox {
    background: #fff;
    border: #D6D6D6 solid thin;
    border-radius: 5px;
    position: relative;
}
#newestlist .cardbox .imgrel {
    width: 100%;
    height: 160px;
    overflow: hidden;
}
#newestlist .cardbox .imgrel img {
    object-fit: cover;
    width: 100%;
}
#newestlist .cardbox .contant {
    margin: 0px;
    padding:15px;
}
#newestlist .cardbox .contant ul {
    margin: 0px;
    padding: 0;
}
#newestlist .cardbox .contant ul li {
    list-style: none;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
}
#newestlist .cardbox .contant p {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
}

#newestlist h3 {
    font-size: 28px;
    font-weight: 500;
    color: #000;
    margin-bottom: 25px;
}
/*newest-end*/











/*subscribe-new-css*/
#subscribebg2 {
    margin: 0px;
    padding: 120px 0px;
    background: #ecf8ff;
    background-size: auto;
}
#subscribebg2 .subcontent {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#subscribebg2 .subcontent h5 {
    font-size: 36px;
    font-weight: 500;
    color: #0d8ee0;
    margin: 0px;
    padding: 0px;
}
#subscribebg2 .subcontent p {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin: 10px 0;
}
#subscribebg2 input.subfld {
    width: 100%;
    max-width: 100%;
    height: 70px;
    border: 1px solid #1e88e5;
    padding:5px 15px;
    border-radius:50px;
    font-size:20px;
    color:#000;
    margin-top: 22px;
}
#subscribebg2 input.subfld:focus{outline: none;}
#subscribebg2 button.send {
    margin: 0px auto;
    padding: 0px;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 70px;
    border-radius: 50px;
    background: #1e88e5;
    color: #fff;
    border: none;
    text-transform: uppercase;
    outline: none;
    font-weight: 500;
    font-size: 28px;
    margin-top: 22px;
}
/*subscribe-new-css-end*/







/*kickstart_list css start**/
 #kickbg {
    margin: 0px;
    padding: 50px 0;
    background: #f7f7f7;
}
.cleintbox4 {
    padding:20px 20px;
    background: #fff;
    box-shadow: 0 2px 25px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 30px;
}
.clientlogo4 img {
    max-width: 100%;
    margin: 0px;
    padding: 0;
    width: 160px;
}
.cleintbox4 p {
    margin: 0px 0 0;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

#cleintspace {
    margin-top: 30px;
}
a.btn.btn-primary.explore {
    height: 46px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    padding: 5px 25px 10px 25px;
    text-align: center;
    align-items: center;
    margin-top: 21px;
}
.heart-icon {
    position: relative;
    width: 0;
    height: 0;
}
.heart-icon i {
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #000;
}
.heart-icon i.fillheart {
    display: none;
    color: #f20;
}
.heart-icon i.active{color: #f20;}

.red-icon {
    position: relative;
    width: 0;
    height: 0;
}
.red-icon i {
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #000;
}
.red-icon i.active{color: #f20;}
.cleintbox4 h3 {
    color:#0D8EE0;
    cursor:pointer;
    margin-top:12px;
}
.cleintbox4 .clientlogo4 {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.cleintbox4 .clientlogo4 img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.listing_heading {
    margin: 0px;
    margin-bottom: 30px;
}
#kicker .owl-dots {
    margin-bottom: 40px;
    text-align: center;
}
#kicker .owl-dots button{
    outline: none;
}
#kicker .owl-dots button span {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    display: block;
    border:6px solid #FFF;
    background: #dbdbdb;
    margin: 0 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#kicker .owl-dots button.owl-dot.active span{
    background: #1b86e3;
}






/*kickstarter-detial*/
#kickbg2 {
    margin: 0px;
    padding: 50px 0;
    background: #fff;
}
.white_box_shadow {
    background: #fff;
    box-shadow: 0 2px 25px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 5px;
}
.cleintbox5 {
    padding:0px;
    text-align: center;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.cleintbox5 img {
    max-width: 100%;
    margin: 0px;
    padding: 0;
    width: 160px;
}
.cleintbox5 p {
    margin: 0px 0 0;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
.cleintbox5 h3 {
    color:#0D8EE0;
    cursor:pointer;
    margin-top:12px;
}
.cleintbox5 .clientlogo4 {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.cleintbox5 .clientlogo4 img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.cleintbox_cont p {
    font-size: 16px;
    font-weight: 100;
    line-height: 26px;
}



.kicktable .table th {
    background: #1b86e3;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.kicktable .table td button.views {
    background: #000;
    border: none;
    color: #fff;
    padding: 5px;
    height: 35px;
    border-radius: 50px;
    width: 100px;
    font-size: 18px;
    font-weight: 500;
}
.kicktable .table td {
    font-weight: 400;
    color: #4A4A4A;
    font-size: 16px;
    vertical-align: middle;
}
.kicktable .table tr:nth-child(even) {background: #EFEFEF}
.kicktable .table tr:nth-child(odd) {background: #FFF}


.chat_detail_link4 {
    position: relative;
}
.chat_detail_link4 p {
    background: #0d8ee0;
    color: #fff;
    padding: 7px;
    font-weight: 500;
}
.chat_detail_link4 .links {
    margin: 0px;
    padding: 0px;
}
.chat_detail_link4 .links ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: end;
    display: -webkit-flex;
    -webkit-justify-content: end;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.chat_detail_link4 .links ul li {
    list-style: none;
    margin: 0px 0px 0 0;
    padding: 5px;
    display: flex;
}
.chat_detail_link4 .links ul li a {
    margin: 0px 0px 0 0;
    padding:5px;
    color: #fff;
    background: #1b86e3;
    display: inline-block;
    border: #1b86e3 solid 1px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
}
.chat_detail_link4 .links ul li a img.bulb, .chat_detail_link4 .links ul li a img.bulb2 {
    max-width: 22px;
    margin: 0px;
}
.chat_detail_link4 .links ul li a img.bulb2 {
    display: none;
}















/*news*/
#news_list{
    padding: 30px 0;
    margin: 0px;
}

.ns{
    box-shadow: 0px 0px 10px #ccc !important;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    border-radius:10px;
}
.ns .desc {
    padding: 15px 15px;
}
.ns.top_space {
    margin-top: 30px;
}
.desc p {
    font-size: 16px;
    font-weight: 400;
}
.img{
    position: relative;
    width: 100%;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img .stamp{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 7px;
    font-weight:500;
}
.ns .desc h4 {
    font-size: 22px;
    font-weight: 500;
}
.ns .desc h4 a{color:#000;}
#news_list h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}


.catg_box {
    margin: 0px;
    padding: 0px;
    background: #F3F3F3;
}

.catg_box ul {
    margin: 0px;
    padding: 0px;
}

.catg_box ul li {
    list-style: none;
    margin: 0px;
    padding: 0;
    display: block;
    border-bottom: #E5E5E5 solid thin;
}
.catg_box ul li:last-child{border-bottom:none;}
.catg_box ul li a {
    margin: 0px;
    padding: 15px;
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
.recent_box {
    margin: 0px;
    padding: 0px;
}
.recent_box ul {
    margin: 0px;
    padding: 0px;
}
.recent_box ul li {
    list-style: none;
    display: block;
    border-bottom: #E5E5E5 solid thin;
    border-left: #1b86e3 solid 4px;
    margin-top: 15px;
}
.recent_box ul li a {
    margin: 0px;
    padding: 5px 15px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
/*news-end*/






/*news-detail*/

#news_list .newshead h3 {
    font-size: 36px;
    color: #1b86e3;
    margin: 0px;
    padding: 0px;
}

.newshead  ul.tags {
    margin: 8px 0 0;
    padding: 0px;
}

.newshead ul.tags li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    color: #000;
    font-weight: 500;
}
#news_list .contentnews img {
    width: 100%;
    margin: 20px 0px;
}
#news_list .contentnews p {
    font-size: 16px;
    font-weight: 400;
}

#news_list .contentnews h3 {
    color: #000;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}
/*news-detail-end*/










/*latest-listing*/
#transaction{

    padding: 40px 0;
}
#transaction .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ccc;
    height: 36px;
    border-radius: 5px;
    padding: 8px;
}
#transaction .dataTables_wrapper .dataTables_length select {
    height: 35px;
    margin: 0 5px;
    width: 70px;
}
#transaction table.display thead {
    background: #232e42;
    color: #fff;
    font-weight: 400;
}








/*career-css*/
.carerbg{
    margin: 0px;
    padding: 0px;
    /*background:rgba(255,255,255,0.2) url('../images/webb.png') repeat right center;*/
    background:#e6e5e5;
    background-blend-mode: overlay;
    min-height:600px;
}
.review-text-box {
    height: 100%;
}
.review-text-box .review-part {
    margin: 30px 0 0;
    background: transparent;
    padding: 18px;
    border-radius: 5px;
    border: transparent solid 2px;
}
.review-text-box .review-part p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.review-text-box .review-part p i {
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    color: #1b86e3;
    display: inline;
    margin-right: 10px;
}
.review-text-box .review-part .authortext {
    text-align: left;
}
.review-text-box .review-part .authortext h3 {
    font-size: 32px;
    font-weight:700;
    color: #1b86e3;
}
.review-text-box .review-part .authortext h5 {
    font-size: 18px;
    font-weight: 500;
}
.review-text-box .joinequity {
    text-align: left;
    margin: 25px 0;
    padding: 0 15px;
}
.review-text-box .joinequity h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.author{text-align: center; width: 100%;}
.carerbg .owl-stage-outer{padding: 0px;}
/*career-css-end*/




/*about*/
.whobg {
    padding: 50px 0px;
    margin: 0px;
    background:#1b86e3;
}
.whobg .aboutcontent{text-align: left; color: #fff;}
.whobg .aboutcontent h2 {
    margin: 0px;
    padding: 0px;
    font-size: 44px;
    margin-bottom: 12px;
    font-weight: 900;
}
.whobg .aboutcontent p {
    font-size: 30px;
    line-height: 46px;
    color: #fff;
    margin: 0;
    text-align: left;
    font-family: Net-Proxima-Nova-Light;
}
.review-text-box .joinequity button {
    width: 100%;
    max-width: 430px;
    height: 60px;
    font-size: 26px;
}
.whobg .aboutcontent img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
}
.abtimg img {
    border: #fff solid 4px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 0 17px 5px rgba(0,0,0,0.1);
}
/*aboout*/









/*acordianbg*/

.acordianbg {
    margin: 0px;
    padding: 50px 0px;
    /*background: rgba(27,134,227) url('../images/pattern.png');*/
    min-height: auto;
    background-blend-mode: multiply;
}
.carer_tabs div#nav-tab {
    border-bottom: none;
}
.carer_tabs .nav-tabs .nav-link, .carer_tabs .nav-tabs .nav-link:hover {
    color: #000;
    padding: 14px 20px;
    background: #fff;
    display: block;
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    border:none;
}
.carer_tabs .nav-tabs .nav-link.active {
    background: #1b86e3;
    border: none;
    color: #fff;
    border-radius: 60px;
}
.joblists ul {
    margin: 0px;
    padding: 0px;
}

.joblists ul li {
    margin: 0px;
    padding: 0px;
    display: block;
}

.joblists ul li a {
    margin: 0px 0px 9px;
    padding: 12px;
    font-size: 18px;
    background: #ececec;
    border-radius: 5px;
    color: #000;
    width: 100%;
    border: #ccc solid thin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-sflex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}
.joblists ul li a i{font-size:26px;}
.titlejob {
    margin: 0px;
    padding: 0px;
    font-size: 34px;
    margin-bottom: 12px;
    font-weight: 900;
}
/*acordianbg*/








/*talent*/
.talentbg {
    padding: 50px 0px;
    margin: 0px;
    background: #1b86e3;
}
.talentbg .content {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.talentbg .content p{

    font-size: 38px;
    color: #fff;
}
.talentbg .content .cstm {
    background: transparent;
    color: #fff;
    border: #fff solid 2px;
    width: 100%;
    max-width: 180px;
    height: 55px;
}
.talentbg .content .cstm:hover{background: #fff; color: #000;}
/*talent-end*/




/*lifebg-css*/
.lifebg {
    padding: 30px 0px 0;
    margin: 0px;
    background: #fff;
}
.lifebg .content {
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.lifebg .content h2 {
    margin-bottom: 30px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 36px;
}
/*slider slick*/
.lifebg .slider {
    
    margin:0;
    overflow: hidden;
    width: 100%;
}
.lifebg .slick-slide img {
    display: block;
    padding: 10px 5px;
    width: 100%;
}






/*career-detail-css*/
.detailbg {
    padding: 50px 0px;
    margin: 0px;
    background: #e7f4ff;
}
.detailbg .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
}
.detailbg .content .headings h6 {
    font-size: 20px;
    color: #1b86e3;
    text-transform: uppercase;
    margin: 0px;
}
.detailbg .content .headings h5 {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px;
}
.detailbg .content .headings p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.detailbg .content .apply {
    width: 100%;
    max-width: 180px;
}
.detailbg .content .cstm {
    color: #fff;
    border: #fff solid 2px;
    width: 100%;
    height: 55px;
}
.backbtn {
    margin-bottom: 30px;
}
.backbtn button.cstm {
    border-radius: 50px;
    height: 36px;
    line-height: 0;
    font-size: 17px;
    background: #1b86e3;
    border: #1b86e3 solid thin;
}
.backbtn button.cstm:focus{
    box-shadow: none;
}


.jobbg{

    margin: 0px;
    padding:50px 0;
}
.jobbox{margin-bottom:40px;}
.jobbox h3 {
    font-size: 30px;
    line-height: 1.33;
    color: #251e1f;
    margin: 0;
    font-weight: 700;
}
.jobbox ul {
    margin-top: 30px;
    padding: 0px;
}
.jobbox ul li {
    font-size: 20px;
    line-height: 1.5;
    color: #444;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    padding-left: 35px;
    list-style: none;
}
.jobbox ul li:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background-color: #444;
    left: 0;
    border-radius: 2px;
    top: 23px;
}
.jobbox .applybtns span {
    display: inline-block;
    padding: 15px 15px;
}







/*suybmit-resume*/
.applybg {
    padding: 0px 0px;
    margin: 0px;
    background: #fff;
}
.career_work_redbox {
    background-color: #e7f4ff;
    padding: 0;
    height: 700px;
    width: 100%;
    padding: 50px 40px 50px 18%;
    position: relative;
}
.career_work_redbox h2 {
    margin: 0;
    color: #1b86e3;
    font-size: 70px;
    line-height: 1;
    font-weight: 700;
    width: 100%;
    max-width: 500px;
}
.career_work_redbox p {
    font-size: 24px;
    line-height: 1.58;
    color: #000;
    font-family: Net-Proxima-Nova-Light;
    margin: 28px 0 0;
}
.career_work_redbox span {
    display: block;
    font-size: 20px;
    line-height: 1.6;
    color: #000;
    font-family: Net-Proxima-Nova-Light;
    position: absolute;
    bottom: 52px;
}

.formbg {
    margin: 0px;
    padding:40px 40px 0px;
}
.formbg .form-group {
    margin-top: 30px;
    position: relative;
    margin-bottom: 0;
}
.formbg .md-form label{
    
    color: #4a4a4a !important;
    font-weight: 500;
    padding-left: 15px;
    padding-top:8px;
}
.formbg .form-control {
    border: #e2dfdf solid 1px;
    font-weight: 400;
    font-size: 16px;
    background:#f2f2f2;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 18px;
    box-sizing: inherit;
    height: 65px;
}
.formbg .form-control2 {
    font-weight: 500;
    font-size: 16px;
    height:65px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background:#f2f2f2;
    padding-left: 15px;
    border: #e2dfdf solid 1px;
}
.md-form label.active{

    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    font-size: 12px !important;
}
/*.md-form .flexbox {
    display: flex;
    align-items: center;
}

.md-form .flexbox span {
    padding: 0px 0 0;
    margin: 0px;
    height: 60px;
    width: 50px;
    text-align: center;
     border-right: #494949 solid thin; 
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}*/
/*submit-resume-end*/



















@media all and (max-width: 767px){

.search_box2{display: block; text-align: center;}
.srch_area-prop2{max-width: 100%;}
button.advancbtn {
    width: 100%;
    max-width: 180px;
    height: 54px;
}
.aurs {
    padding: 20px 0px;
}

#latest_news1 .cardbox .imgrel{height: 300px;}
.ns{display: block;}
}



@media all and (max-width: 991px){

.search_box2{display: block; text-align: center;}
.srch_area-prop2{max-width: 100%;}
button.advancbtn {
    width: 100%;
    max-width: 300px;
    height: 54px;
    font-size:26px;
}
.aurs {
    padding: 20px 0px;
}
#latest_news1 .cardbox .imgrel{height: auto;}
#latest_news1 .cardbox .contant p{font-size: 12px;}

.counter-count{font-size: 34px; line-height: normal;}
.employees, .customer, .design, .order {
    border: 1px solid #00b3e7;
    border-radius: 15px;
    height: 30vh;
    padding: 24px 15px;
}
.ns{display: block;}
}




@media all and (max-width: 1024px){

button.advancbtn {height: 74px;}
.srch_area-prop2{max-width: 680px;}

}



@media all and (max-width: 1190px){

button.advancbtn {height: 74px;}

}


@media all and (max-width: 767px){

.slider{margin:15px 0 0;}
.lifebg, .acordianbg{padding: 30px 0px 0px;}
.talentbg .content p{font-size: 22px;}

.carerbg .owlparent {
    display: flex;
    flex-direction: column-reverse;
}
.review-text-box .review-part{margin: 0px;}
.review-text-box .review-part{background:#fff; padding: 15px; box-shadow: 0 0 15px 5px rgba(0,0,0,0.1)}
.review-text-box .joinequity h1{font-size: 34px;}
}